.custom-blue {
  background-color: #302a77;
}
.custom-btn-bg {
  color: #302a77;
  background-color: white;
  padding: 8px 12px;
}
.custom-btn {
  color: white;
  background-color: #302a77;
  padding: 8px 16px;
}
.fa {
  margin: 0 2px 0;
}