// .home-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
// }

// .home-container h1 {
//   font-size: 42px;
//   color: #302a77;
//   margin-bottom: 20px;
// }

// .home-container p {
//   font-size: 20px;
//   color: #777777;
//   margin-bottom: 30px;
// }

// .home-container .main-image {
//   display: center;
//   margin: 0 auto;
//   width: 30%;
//   height: auto;
//   margin-bottom: 30px;
// }

// .home-container .btn {
//   flex-direction: row;
//   padding: 12px 24px;
//   font-size: 18px;
//   color: #ffffff;
//   background-color: #302a77;
//   border: none;
//   border-radius: 6px;
//   text-decoration: none;
//   transition: background-color 0.3s ease;
//   margin-right: 10px;
// }

// .home-container .btn:hover {
//   background-color: #1565c0;
// }

// .home-container .register-btn {
//   background-color: #ff4081;
// }

// .home-container .register-btn:hover {
//   background-color: #f50057;
// }

// .carousel-open:checked + .carousel-item1 {
// 	position: static;
//   background: url('../../assets/free-time-students-bachelor-s-campus-life-rhythm-five-friendly-students-are-walking.jpg');
//   background-position: center;
//   background-size: cover;
// 	opacity: 100;
// }
// .carousel-open:checked + .carousel-item2 {
// 	position: static;
//   background: url('../../assets/group-diverse-grads-throwing-caps-up-sky.jpg');
//   background-position: center;
//   background-size: cover;
// 	opacity: 100;
// }
// .carousel-open:checked + .carousel-item3 {
// 	position: static;
//   background: url('../../assets/graduate-female-shows-like-with-her-friends-graduation-gowns-holding-diploma-smiling-camera.jpg');
//   background-position: center;
//   background-size: cover;
// 	opacity: 100;
// }
// .carousel-item1,.carousel-item2,.carousel-item3 {
// 	-webkit-transition: opacity 0.6s ease-out;
// 	transition: opacity 0.6s ease-out;
// }
// #carousel-1:checked ~ .control-1,
// #carousel-2:checked ~ .control-2,
// #carousel-3:checked ~ .control-3 {
// 	display: block;
// }
// .carousel-indicators {
// 	list-style: none;
// 	margin: 0;
// 	padding: 0;
// 	position: absolute;
// 	bottom: 2%;
// 	left: 0;
// 	right: 0;
// 	text-align: center;
// 	z-index: 10;
// }
// #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
// #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
// #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
// 	color: #2b6cb0;  /*Set to match the Tailwind colour you want the active one to be */
// }

.item1 {

  height: 70vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('../../../assets/free-time-students-bachelor-s-campus-life-rhythm-five-friendly-students-are-walking.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: left;
  align-items:center;
  color: white;

}
.item2 {
  height: 70vh;
  width: 100%;
  background-image:  linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('../../../assets/graduate-female-shows-like-with-her-friends-graduation-gowns-holding-diploma-smiling-camera.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  // justify-content: left;
  align-items:center;
  color: white;

}
.item3 {
  height: 70vh;
  width: 100%;
  background-image:  linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('../../../assets/group-diverse-grads-throwing-caps-up-sky.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  color: white;
  // justify-content: left;
  align-items:center;
}

.item1 section,.item2 section,.item3 section {
  padding: 0 2% 0;
}
@media only screen and (max-width: 992px) {

  .item1 , .item2, .item3 {
    height: auto;
  }
}