<div class="container">
  <div class="heading-row">
    <h3 class="text-4xl font-semibold sm:text-5xl text-center">{{courseList[0].name}}</h3>
  </div>
  <div class="course-container">
    <div class="course">
      <div class="course-img">
        <img src="../../../../assets/DS-Python_small.png" alt="course-detail">
      </div>
      <div class="course-detail">
        <div class="course-timeline">
          <h3 class="text-2xl font-semibold sm:text-5xl text-left">Course Outline</h3>
          <ul>
            <li><i class="fa fa-check" aria-hidden="true"></i> Looping Statement</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Description</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Decision Making Statement</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Introduction and Overview of {{courseList[0].name}}</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Introduction and Overview of Visual Studio</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>{{courseList[0].name}}# Fundamentals</li>
          </ul>
        </div>

      </div>
      <div class="course-detail">
        <ul>
          <li><i class="fa fa-check" aria-hidden="true"></i> Object-Oriented Programming (OOP) Principles</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Exception Handling</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Web Services and APIs</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Introduction to Entity Framework for ORM</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Unit Testing in .NET</li>
        </ul>
      </div>
    </div>
 
  </div>
  <div class="course-container">
    <div class="summary">
      <div class="heading-row">
        <h3 class="text-3xl font-semibold sm:text-5xl text-center">Summary</h3>
      </div>
      <div class="summary-content">
        <h3 class="text-2xl font-semibold sm:text-5xl text-left">Introduction</h3>
        <p>{{courseList[0].name}} was initially released in 2002 by Microsoft and has since evolved into a powerful
          platform for building diverse applications. It's not only restricted to Windows environments; with the advent
          of .NET Core (now .NET 5+), it became cross-platform, supporting Linux and macOS as well. .NET's modular
          architecture, performance enhancements, and extensive developer community have contributed to its popularity.
        </p>
      </div>
      <div class="summary-content">
        <h3 class="text-2xl font-semibold sm:text-5xl text-left">Syllabus</h3>
        <p>Dotnet is the widely used framework for website and web app development and it is very easy to learn and
          implement by beginners. We cover significant concepts such as Microsoft framework architecture, OOPs, ADO.Net,
          ASP.Net, C#.Net, Visual Studio, and Web Services in our .Net Course Syllabus. The learners can develop
          consoles, websites, web apps, and mobile apps through our Dot Net Course Syllabus and we make them prepare for
          project development of top companies. Choosing the dot net is good for one’s career as it is still updating
          its features in website and web app development. Check out the detailed scope and our .Net Course curriculum
          by contacting SLA, the best .Net Training Institute in Chennai
        </p>
      </div>
      <div class="summary-content">
        <h3 class="text-2xl font-semibold sm:text-5xl text-left">Job Opportunities after {{courseList[0].name}} Course
        </h3>
        <p>{{courseList[0].name}} is the widely used framework for website and web app development and it is very easy
          to learn and
          implement by beginners. We cover significant concepts such as Microsoft framework architecture, OOPs, ADO.Net,
          ASP.Net, C#.Net, Visual Studio, and Web Services in our .Net Course Syllabus. The learners can develop
          consoles, websites, web apps, and mobile apps through our Dot Net Course Syllabus and we make them prepare for
          project development of top companies. Choosing the dot net is good for one’s career as it is still updating
          its features in website and web app development. Check out the detailed scope and our .Net Course curriculum
          by contacting SLA, the best {{courseList[0].name}} Training Institute in KPK
        </p>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="loading">
  <app-loader></app-loader>
</ng-container>