<div class="container">
    <div class="heading-row">
          <h3 class="text-3xl font-bold sm:text-5xl text-center">Message</h3>
     </div>
    <div  class="cta p-8">
        <figcaption class="flex justify-center items-center space-x-3">
            <img class="w-12 h-12 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png" alt="profile picture">
            <div class="space-y-0.5 font-medium dark:text-white text-left">
                <div>Mr Junaid Akram</div>
                <div class="text-sm font-light text-gray-500 dark:text-gray-400">CEO & Founder of Enlightened</div>
            </div>
        </figcaption> 
        <h1 class="italic p-4">"Lorem ipsum is placeholder text commonly used in the graphic, print,and publishing industries for previewing<br> layouts and visual mockups."</h1>
    </div>
</div>