<div class="col-sm">
  <div class="container">
    <div class="container">
      <div class="row mt-4">
        <div class="col-md-12">
          <div mat-dialog-content>
            <p>
              {{message}}
            </p>
          </div>
          <div mat-dialog-actions class="card-action space-x-1">
            <button class="rounded-full rounded-full custom-btn" (click)="onConfirmClick()"
              tabindex="1">{{confirmButtonText}}</button>
            <button mat-dialog-close class="rounded-full rounded-full custom-btn"
              tabindex="-1">{{cancelButtonText}}</button>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>