.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-container h1 {
  font-size: 42px;
  color: #302a77;
  margin-bottom: 20px;
}

.home-container p {
  font-size: 20px;
  color: #777777;
  margin-bottom: 30px;
}

.home-container .main-image {
  display: center;
  margin: 0 auto;
  width: 30%;
  height: auto;
  margin-bottom: 30px;
}

.home-container .btn {
  flex-direction: row;
  padding: 12px 24px;
  font-size: 18px;
  color: #ffffff;
  background-color: #302a77;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.home-container .btn:hover {
  background-color: #1565c0;
}

.home-container .register-btn {
  background-color: #ff4081;
}

.home-container .register-btn:hover {
  background-color: #f50057;
}
