<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navigation-bar" color="primary">
      <div class="title" routerLink="">
        <img src="assets/logo_transparent.png" alt="Enlightened Academy logo" class="logo">
      </div>
      <ul class="nav-links">
        <li>
          <a mat-button routerLink="">
            <mat-icon>home</mat-icon>
            Home
          </a>
        </li>
        <li>
          <a mat-button routerLink="/courses">
            <mat-icon>book</mat-icon>
            Courses
          </a>
        </li>
        <li>
          <a mat-button routerLink="/register">
            <mat-icon>person</mat-icon>
            Register
          </a>
        </li>
      </ul>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
