.navigation-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #302a77;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navigation-bar ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation-bar li {
  margin: 0 10px;
}

.navigation-bar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navigation-bar a:hover {
  background-color: #524aa8;
}

.title {
  font-weight: bolder;
  font-size: 24px;
  color: #fff;
  transition: color 0.3s ease;
}

.title:hover {
  color: #cfd8dc;
  cursor: pointer;
}

.logo {
  height: 80px; /* Adjust as needed */
  width: 120px; /* Adjust as needed */
  margin-right: 10px; /* Space between the logo and the title */
}

@media screen and (max-width: 600px) {
  .navigation-bar {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .navigation-bar ul {
    margin-top: 10px;
  }

  .navigation-bar li {
    margin: 5px 0;
  }

  .title {
    font-size: 20px;
  }

  .logo {
    height: 30px; /* Adjust as needed */
    width: 30px; /* Adjust as needed */
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
