<!-- <div [@dialog] class="dialog">
    <h1>Error!</h1>
    <p>{{ data.message }}</p>
    <button
    (click)="closeDialog()"
    class="rounded-full rounded-full custom-btn mx-0.5"
  >
    Close
  </button>
  </div> -->
  <div [@dialog] class="dialog">
    <h1>Error!</h1>
    <p>Message: {{ data.message }}</p>
    <p>Status: {{ data.status }}</p>

    <!-- <div> {{data | json }}</div> -->
    <!-- <p>{{ data?.error }}</p> -->
    <!-- <button mat-raised-button color="primary" (click)="closeDialog()">Close</button> -->
    <button
    (click)="closeDialog()"
    class="rounded-full rounded-full custom-btn mx-0.5"
  >
    Close
  </button>
  </div>