:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    background-color:white;
    border-radius: 8px;
    width: 600px;
    height: 60vh;
    animation: fadeIn ease 1s;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  }
  .dialog {
    padding-block: 20px;
    h1 {
      font-size: 30px;
      color: red;
      padding: 10px 0;
      
    }
    p {
      padding: 10px 0;
    }
  }
button {
  color: white;
}
  // button {
  //   margin-top: 20px;
  //   color: #721c24;
  //   border-color: #721c24;
  //   transition: all .3s;
    
  //   &:hover {
  //     background-color: #721c24;
  //     color: #f8d7da;
  //   }
  // }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  