#login {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('../../assets/graduate-female-shows-like-with-her-friends-graduation-gowns-holding-diploma-smiling-camera.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.fa {
  color:#302a77 ;
}