<!-- <div class="container-fluid">
  <app-courses-page *ngFor="let course of selectedCourses" [courseBackground]="course.url" [courseName]="course.name"
    [courseDescription]="course.description" [courseFee]="course.fee" class="course-item"></app-courses-page>
</div> -->

<div class="container-fluid">
  <div class="heading-row">
    <h3 class="text-3xl font-semibold sm:text-5xl text-center">Courses we offer</h3>
  </div>
  <div class="card-container">
    <div class="card" *ngFor="let course of selectedCourses" [routerLink]="['detail',course?.id]">
      <div class="card-img">
        <img src="../../../assets/DS-Python_small.png" />
      </div>
      <div class="card-title">
        <h3>{{course.name}}</h3>
      </div>
      <div class="card-description">
        <p> {{course.description}}</p>
      </div>

    </div>


  </div>
</div>
<ng-container *ngIf="loading">
  <app-loader></app-loader>
</ng-container>