.navigation-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #302a77;
  padding: 10px 20px;
  z-index: 1;
}

.navigation-bar ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease-in-out;
}

.navigation-bar li {
  margin: 0 10px;
}

.navigation-bar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navigation-bar a:hover {
  background-color: #524aa8;
}

.title {
  font-weight: bolder;
  font-size: 24px;
  color: #fff;
  transition: color 0.3s ease;
}

.title:hover {
  color: #cfd8dc;
  cursor: pointer;
}

.logo {
  height: 40px; /* Adjust as needed */
  width: 40px; /* Adjust as needed */
  margin-right: 10px; /* Space between the logo and the title */
}

@media screen and (max-width: 600px) {
  .navigation-bar ul {
    position: absolute;
    background: #302a77;
    flex-direction: column;
    width: 100%;
    transform: translateX(-100%);
    top: 50px;
    left: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }

  .navigation-bar ul.open {
    transform: translateX(0);
  }
}
